@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
}

li a.active{
  color: #FF444A;
  font-weight: bold;
  border-bottom: 2px solid #FF444A;
}

g.recharts-layer{
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 576px) { 
  g.recharts-layer{
    font-size: 20px;
  }
 }